<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/donations.css') }}">
    <title>Donations</title>
</head>
<body>

<div class="donations">
{% for donation in donations %}
    <p class="donation">{{ donation['username'] }} – {{ donation['amount'] }} RUB</p>
{% endfor %}
</div>

</body>
<script src="{{ url_for('static', filename='scripts/donations.js') }}"></script>
</html>